---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from '../components/ui/ThemeToggle.vue'
---

<header class="m-0 px-4 bg-white shadow-[0_2px_8px_rgba(0,0,0,0.05)]">
	<nav class="flex items-center justify-between">
		<h2 class="m-0! text-base!">
			<a href="/" class="no-underline">{SITE_TITLE}</a>
		</h2>
		<div class="flex items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<ThemeToggle class="px-[0.5em]" client:load />
		</div>
	</nav>
</header>

<style>

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
		font-weight: normal;
	}
	nav a.active {
		text-decoration: none;
		color: var(--accent);
	}
</style>
